
html{
    
     scroll-behavior:smooth;
 
     user-select: none;
}

body{
     font-family: poppins;
     color: white;
     width:100%;

}

.menu{
     background-image: linear-gradient(to right top,rgba(4, 103, 131, 0.8),rgba(48, 130, 153, 1)),url("../img/img.JPG");
      background-repeat: no-repeat;
      height:100vh;
      background-size:cover;
      background-position: center;
    
}


@media screen and (min-width:380px) and (max-width:1200px) {
    
    .menu{
     background-image: linear-gradient(to right top,rgba(4, 103, 131, 0.8),rgba(20, 63, 75,0.5)),url("../img/img.JPG");
    
    height:70vh;



    }
    

}



@media screen and (min-width:310px) and (max-width:379px) {
    
    .menu{
  
    height:100vh;

    }
    

}






.fw-bold{
    font-weight:bold;
}




.main{

    background-color: #04121e;
    padding: 30px 20px;
   
    
}

@media screen and (max-width:1200px) {
    .main{

        background-color: #04121e;
        padding: 20px 10px;
    }

}



@media screen and (max-width:1200px) {
    #skills {
    
  
        padding:0px 15px;
        
        }
        

}




/* body */

#skills h6{
    font-weight: bold;
    padding:10px 0px;
    border-bottom: 2px solid white;
    width:300px;
}

#skills h1{
font-weight: bolder;
font-size: 5rem;

}




@media screen and (max-width:1200px) {
    #skills h1{
        font-weight: bolder;
        font-size: 2rem;
        
        }
        

}


#skill p{

    font-size: 1rem;
}





@media screen and (max-width:1200px) {
    #skills p{
    
        font-size: 0.9rem;
        width:80%;
       
        
        }
        

}


/* companies section */

#companies h6{
    font-weight: bolder;
    border-bottom: 2px solid white;
    width: 490px;
    padding: 5px 0px;
    font-size: 2rem;
}


@media screen and (max-width: 1200px) {
  
    #companies {
     width: 95%;
    }
    



}



@media screen and (max-width: 1200px) {
  
    #companies h6{
        font-weight: bolder;
        border-bottom: 2px solid white;
        width: 300px;
        padding: 5px 0px;
        font-size:0.8rem;
    }
    



}


#companies .exp{
    font-size: 5rem;
    margin:8px 0px;
}



@media screen and (max-width: 1200px) {
    #companies .exp{
        font-size: 2rem;
        margin:8px 0px;
    }
    
}



@media screen and (max-width: 1200px) {
   #job_description{
        font-size: 0.8rem;
        margin:8px 0px;
        text-wrap: wrap;
    }
    
}


.creativity{
    display:flex;
     justify-content:space-between;
     align-items: center;
     margin:10px 0px;
}

.job_title{
    display:flex;
    flex-direction: column;
    gap:30px;
}


/* hello section */

#contact h5{
    padding:8px 0px;
    border-bottom:2px solid white;
    width:250px;
}

.hello{
    font-size: 5rem;
    font-weight: bolder;
}

@media screen and (max-width:1200px){
    .hello{
        font-size: 3rem;
        font-weight: bolder;
        width: 90%;
    }

}







#contact p{
    width: 50%;
}



@media screen and (max-width:1200px){


#contact p{
    width: 100%;
    font-weight: normal;
    font-size: 0.8rem;
}


}

.icons{
    display: flex;
    gap:10px;
    flex-direction: column;
}

.hide{
    display: none;

}


